.main
{
    border: 5px solid black;
}
.btn{
    border: 2px solid rgb(218, 213, 213) ;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 220px;
    text-align: left;
}
.btn:hover{
background-color: #EFF6FF;
}
.heading{
    font-size: 2rem;
}